* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
    
}

/* +++++++ */
/* Header */
/* +++++++ */

.header{
    display: flex;
    justify-content: space-between;
    background-color: #857E7E;
    align-content: center;
}

.header ul{
    display: flex;
    list-style: none;
    font-size: 30px;
    gap: 30px;
}

.logo { /* Logo */
    height: 2.5rem;
    display: flex;
}
.izquierda {
    display: flex;
    justify-content: left;
}
.marca {
    display: flex;
}
.redes { 
    display: flex;
}
.hero_image>img { /* Hero Image */
    width: 100%;
}

/* ++++++++ */
/*   Body   */
/* ++++++++ */

body{
    background-color: #E5E5E5;

}

.categories {
    display: flex;
    flex-wrap: wrap;

}
.category{
    display: flex;
    flex-direction: column;
    padding: 18px;
    margin: 18px;
    align-items: center;
    gap: 5px;
    font-size: 1.5rem;

}

.category img {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;

}

/* +++++++++ */
/*   Footer  */
/* +++++++++ */

footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 10px;
    background-color: #857E7E;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 20px;
    padding: 10px;
}
footer ul li a{
    text-decoration: none;
}

/* ++++++++ */
/* Contacto */
/* ++++++++ */

.fieldsetC{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 20px;
    gap: 10px;
    list-style: none;
}
.volverC{    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 20px;
    text-decoration: none;
}


/* ++++++++++++++ */
/* Sobre Nosotros */
/* ++++++++++++++ */

.lorem{
    display: flex;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    justify-content:center;
    align-items: center;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 20px;
    gap: 10px;
    list-style: none;
    margin-top: 3rem;
    text-align: center;
    
}
.volverSN{    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 20px;
    text-decoration: none;
}

/* ++++++++++ */
/* Sucursales */
/* ++++++++++ */


.sectionSucursales{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 10px;
    width: 50%;
    margin-left: 35%;
    margin-bottom: 20px;
    gap: 50px;
}
.volverSuc{    
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 20px;
    text-decoration: none;
}

/* ++++++ */
/* Sumate */
/* ++++++ */

.sumate{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30px 500px;
    grid-template-areas: 
    "p"
    "iframe"
    ;
    justify-content: center;
}
.sumate p{
    grid-area: p;
    margin-left: 25%;
}
.sumate iframe{
    grid-area: iframe;
    height: 100%;
    width: 50%;
    align-items: center;
    margin-left: 25%;
   /*  min-width: 500px; */
}

@media screen and (max-width: 600px){
    .sumate{grid-template-rows: 30px 250px;
    }
    .sumate p{
        font-size: 0.7rem;
    }
    
}



/* .sumate{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 10px;
    width: 50%;
    margin-left: 35%;
    margin-bottom: 20px;
    gap: 50px;
    font-size: 2rem;
} */

.volverSum{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 20px;
    text-decoration: none;
}

/* +++++++++++++ */
/* MEDIA QUERIES */
/* +++++++++++++ */


@media screen and (max-width: 350px){
    .categories {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}

@media screen and (max-width: 9050px){
    .categories {
        display: grid;
        grid-template-columns: repeat(2 1fr);
        grid-template-rows: repeat(3 1fr);
        grid-template-areas:
        "c1 c2" 
        "c3 c4"
        "c5 c6"
        ;
    }
    .c1{
        grid-area: c1;
    }
    .c2{
        grid-area: c2;
    }
    .c3{
        grid-area: c3;
    }
    .c4{
        grid-area: c4;
    }
    .c5{
        grid-area: c5;
    }
    .c6{
        grid-area: c6;
    }
    
}
